<div class="space-wrapper">
  <div id="main-space">
    <div class="space-wrapper">
      <div class="top-bar">
        <div class="space-choose-size">
          <!-- <mat-button-toggle-group #group="matButtonToggleGroup"> -->
          <button
            mat-icon-button
            class="btn"
            [color]="currentMedia !== MediaType.Phone ? 'primary' : 'accent'"
            aria-label="To center"
            (click)="changeMedia(MediaType.Phone)"
          >
            <mat-icon>phone_iphone</mat-icon>
          </button>
          <button
            mat-icon-button
            class="btn"
            [color]="currentMedia !== MediaType.Tablet ? 'primary' : 'accent'"
            aria-label="To center"
            (click)="changeMedia(MediaType.Tablet)"
          >
            <mat-icon>tablet_mac</mat-icon>
          </button>
          <button
            mat-icon-button
            class="btn"
            [color]="currentMedia !== MediaType.Laptop ? 'primary' : 'accent'"
            aria-label="To center"
            (click)="changeMedia(MediaType.Laptop)"
          >
            <mat-icon>laptop_mac</mat-icon>
          </button>
          <button
            mat-icon-button
            class="btn"
            [color]="currentMedia !== MediaType.Desktop ? 'primary' : 'accent'"
            aria-label="To center"
            (click)="changeMedia(MediaType.Desktop)"
          >
            <mat-icon>desktop_windows</mat-icon>
          </button>
          <!-- </mat-button-toggle-group> -->
        </div>

        <div class="additional-actions">
          <button
            mat-flat-button
            class="btn"
            color="primary"
            [disabled]="!existNotSavedCodeChanges"
            (click)="saveCodeToIde()"
          >
            Сохранить
          </button>
        </div>
      </div>

      <div class="space" #mainSpace>
        <div class="append-custom-el-to layout-xxl" #appendCustomElement>
          <div class="css-grid-layout">
            <div class="grid-col col-xxl-1-12 col-xl-1-8 col-sm-1-4"></div>
            <div class="grid-col col-xxl-1-12 col-xl-1-8 col-sm-1-4"></div>
            <div class="grid-col col-xxl-1-12 col-xl-1-8 col-sm-1-4"></div>
            <div class="grid-col col-xxl-1-12 col-xl-1-8 col-sm-1-4"></div>
            <div class="grid-col col-xxl-1-12 col-xl-1-8"></div>
            <div class="grid-col col-xxl-1-12 col-xl-1-8"></div>
            <div class="grid-col col-xxl-1-12 col-xl-1-8"></div>
            <div class="grid-col col-xxl-1-12 col-xl-1-8"></div>
            <div class="grid-col col-xxl-1-12"></div>
            <div class="grid-col col-xxl-1-12"></div>
            <div class="grid-col col-xxl-1-12"></div>
            <div class="grid-col col-xxl-1-12"></div>
          </div>

          <rittry-layout [class]="AppConstants.getMediaCssClass(currentMedia)"> </rittry-layout>

          <!-- <div class="css-grid-layout custom-grid">
            <div
              class="grid-col col-xxl-4-12 col-xl-4-8 col-sm-4-4"
              style="background-color: brown"
            ></div>

            <div
              class="grid-col col-xxl-4-12 col-xl-4-8 col-sm-4-4"
              style="background-color: coral"
            ></div>
          </div> -->
        </div>
      </div>
    </div>

    <div class="properties">
      <div class="layout">
        <button
          mat-icon-button
          class="btn"
          color="primary"
          aria-label="To center"
          (click)="changeRootElLayoutAlign(ElementLayoutAlign.Left)"
        >
          <mat-icon>border_left</mat-icon>
        </button>

        <button
          mat-icon-button
          class="btn"
          color="primary"
          aria-label="To center"
          (click)="changeRootElLayoutAlign(ElementLayoutAlign.Horizontal)"
        >
          <mat-icon>border_horizontal</mat-icon>
        </button>

        <button
          mat-icon-button
          class="btn"
          color="primary"
          aria-label="To absolute"
          (click)="changeRootElLayoutAlign(ElementLayoutAlign.Vertical)"
        >
          <mat-icon>border_vertical</mat-icon>
        </button>

        <button
          mat-icon-button
          class="btn"
          color="primary"
          aria-label="To absolute"
          (click)="changeRootElLayoutAlign(ElementLayoutAlign.Right)"
        >
          <mat-icon>border_right</mat-icon>
        </button>
      </div>

      <div class="element-properties">
        <button
          mat-icon-button
          class="btn"
          aria-label="To absolute"
          [disabled]="true"
        >
          <mat-icon>border_clear</mat-icon>
        </button>

        <button
          mat-icon-button
          class="btn"
          aria-label="Group elements"
          (click)="toggleCurrentCElPosition()"
        >
          <mat-icon>border_clear</mat-icon>
        </button>
      </div>

      <div class="element-properties delete-then">
        <button
          mat-icon-button
          class="btn"
          color="primary"
          aria-label="To absolute"
          (click)="addCElement()"
        >
          <mat-icon>border_clear</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="ide-wrapper" #ideWrapper>
    <iframe
      src="http://localhost:3000/#/home/irotaev/Projects/tmp/express-server"
    ></iframe>
  </div> -->
</div>
